@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=AnotherFont:wght@400;700&display=swap');


@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@font-face {
  font-family: "Phonk";
  src: url("./public/fonts/Phonk-Regular-DEMO.otf");
}

@font-face {
  font-family: "Futura";
  src: url("./public/fonts/Futura-PT/FuturaPTMedium.otf");
}
@font-face {
  font-family: "Bellibish";
  src: url("./public/fonts/Bellibish-Regular-BF664bb827d0346.ttf");
}

body {
  font-family: 'Phonk';
}

@-webkit-keyframes drawIn {
  0% {
    stroke: transparent;
    stroke-dashoffset: 10000;
  }
  75% {
    stroke: white;
  }
}
@keyframes drawIn {
  0% {
    stroke: transparent;
    stroke-dashoffset: 10000;
  }
  75% {
    stroke: white;
  }
}
.mask-path {
  stroke: white;
  stroke-dasharray: 10000;
  -webkit-animation: drawIn 2.5s 1s ease-in both;
          animation: drawIn 2.5s 1s ease-in both;
}
